/* Helper start*/
.main-section {
  /*border: 1px solid orange;*/
}

.columns {
  /*border: 1px solid red;  */
}

.row {
  /*border: 1px solid blue;*/
}

.col-content {
    /*border: 1px solid red;*/
}

.project {
  /*border: 1px solid #fff;*/
}

.content-work {
  /*border: 1px solid blue;*/
}

.projectWrapper {
  /*border: 1px solid orange;*/
}


/* Helper end */

/* OVERRIDES: */ 
body {
  font: 300 16px/22px "Oswald", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #fff;
  background: #000;
}

h1 {
  padding: 0;
  margin: 0;
}

ul, li {
  list-style: none;
}

/* OVERRIDES end */
.breadcrumbs {
  font-size: 18px;
  padding: 18px 0 0 60px;
}

.breadcrumbs a {
  color: #A3B7FF;
  text-decoration: none;
  line-height: inherit;
  cursor: pointer; 
}


.breadcrumbs a:hover {
  color: #fff; 
  text-decoration: none;
}

.breadcrumbs a:focus {
    color: #fff; 
}

.bg {
    background-color: #171717;
}
/* Logo */
.btn-logo-v2 {
  font-family: "Changa One";
  background: #fff;
  color: #030208;
  border: 1px solid #fff;
  font-size:28px;
  line-height: 1;
  text-transform: uppercase;  
  letter-spacing:-1.9px;
  padding: 6px 10px;
  margin: 0;
  outline: 0;
  -webkit-appearance: none;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
}

.btn-logo-v2:hover {
  background:#030208;
  color: #fff; 
}

.btn-logo-v2:focus {
  background:#fff;
  color: #030208; 
}

.logo-pos {
  float: left;
}
/* Logo end */

.row-gutter {
  max-width: 100%;
}

.container-header,
.container-footer {
  padding: 5px;
  height: 53px;
}

.container-header {
  /* alt */
  border-bottom: 1px solid #fff;
  background: -webkit-linear-gradient(to bottom, #27142C, #000);
  background: -moz-linear-gradient(to bottom, #27142C, #000);
  background: linear-gradient(to bottom, #27142C, #000);
}

.container-footer {
  /*alt*/
  border-top: 1px solid #fff;
}

.main-section>.row {
  background: -webkit-linear-gradient(to bottom, #000, #27142C);
  background: -moz-linear-gradient(to bottom, #000, #27142C);
  background: linear-gradient(to bottom, #000, #27142C);
}


.content-about {
  text-align: center;
  min-height: 350px;
}

.content-work {
  padding: 0;
  overflow: hidden;
  text-align: center;
  border-top: 1px solid #fff;
}

.lead {
  padding:20px 0;
  font-size: 40px;
}

.lead-alt-text {
  font-family: 'Allura', cursive;
}

p.info {
  letter-spacing: 1px;
  line-height: 30px;
  font-size: 16px;
  margin-top: 22px;
}

ul.info {
  font-size: 18px;
  margin-top: 22px;
}

@media screen and (min-width: 40em) {
  .border-l {
    border-left: 1px solid #fff;    
  }

  .border-r {
    border-right: 1px solid #fff;    
  }
}

@media screen and (max-width: 64em) {
  .border-l { 
    border-left: none;
    border-top: 1px solid #fff;
  }

  .border-r {
    border-right: none;    
    border-bottom: 1px solid #fff;
  }
}

.viewport img {
  /*opacity: 0.5;*/
}

@media screen and (min-width: 40em) {
   .mouseOverBg {
      min-width: 25%;
   }   
}

@media screen and (max-width: 64em) {
  .mouseOverBg {
      min-width: 40%;
   }
}
    
.mouseOverBg {  
  overflow: hidden;
  position: absolute;
  margin-top: 35px;
  padding: 5px 0 5px 30px;
  opacity: 0;
  border-bottom: 5px solid #fff;
  border-left: 10px solid #fff;
  border-top: 10px solid transparent;
  border-right: 5px solid transparent;
}

.mouseOverTxt {
  font-size: 22px; 
  color: #fff;
  margin-left: -150px;
}

.noHoverBg {
  position: absolute;
  padding: 15px 25px 5px 30px;
  background: rgba(0,0,0,0.5);
}

.noHoverText {
  font-size: 40px; 
  color: #fff;
}

.project-title {
  background-color: #000;
  font-size: 20px;
}

@media screen and (max-width: 64em) {
  .columns-centered {
    text-align: center;
  }
}

.devInfo ul{
  display: inline-block;
  vertical-align: top;
}

.projectWrapper {
  padding: 30px 0;
  margin: 0;
}

.projectWrapper li {
  display: inline-block;
}

.projectWrapper img {
  width: 350px;
}

.projectWrapper a {
  opacity: 0.6;
}

.projectWrapper a:hover {
  opacity: 1;
}

.text-sm {
  font-size: 15px
}

.devInfo ul:first-child {
  text-align: right;
  border-right:1px solid #fff;
  padding: 0 20px 0 0;
  margin-left: -62px;
}

.devInfo ul:last-child{
  text-align: left;
  padding: 0 0 0 20px;
}

.reveal {
  background-color: #000;
  border: 1px solid #fff;
  outline: 0;
}

.modal-description {
  padding-top: 20px;
  font-size: 18px;
}

.close-button {
  background-color: #000;
  line-height: 0;
  color: #fff;
  padding: 25px 25px 25px 8px;
  margin: -16px 0 0 0;
  right: 0;
  top: 0;
  outline: 0;
  font-size: 60px;
  width: 30px;
  height: 30px;
}

.close-button:hover {
  color:#fff;
}

.close-button:focus {
  color:#fff;
}
